<!DOCTYPE html>
<html>
<head>
	<title>JSON Test</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
	<!-- libraries/reference should be on the top -->

<style>

.deleteLabel{
	/*background: red;*/
	width:100px;
	height:100px;
	background-image: url("cross.jpg");
}

	
</style>

</head>
<body>

	<input type="text" name="input" id="input"><button id="add" onClick="addTaskSimple()">Add task</button>
	<!-- <button id="add" onClick="deleteTask()">Delete Task</button> -->
	<input type="text" name="editField" id="editField"><button id="edit" onClick="editTask()">Edit task</button>

	<!-- <input type="text" name="input" id="input"><button id="add" onClick="addTaskSimple('testKey', 'test data user input 2')">Add task</button> -->
	<div id="display">
		<ol id="test">
			
		</ol>
	</div>
</body>
</html>


<script type="text/javascript">
// console.log("Hello World!");

if (!localStorage.arrayDataSet){
	var array = [{
		data: "initialize"
	}];	
	localStorage.setItem("arrayDataSet", jsonify(array));
}

display();

function addTaskSimple(){

	var insertData = document.getElementById("input").value;
	var array = unjsonify(localStorage.arrayDataSet);

	array.push({
		data: insertData // treat the data structure as a table, fieldName: dataToBeInserted
	});

	localStorage.setItem("arrayDataSet", jsonify(array));
	localStorage.dataId = array.length;

	display();
}
// convert JSON into array
function unjsonify(jsonData){
	return JSON.parse(jsonData);
}

// convert user input into JSON string
function jsonify(userInput){
	return JSON.stringify(userInput);
}

function display(){
	var arrData = unjsonify(localStorage.arrayDataSet);
	var toPrint;

	// right now it doesn't consider the fact that there's already existing data in the HTML element
	// the easiest way is to just wipe everything before appending
	if(document.getElementById("test")) {
		document.getElementById("test").innerHTML = "";
	}

	// basic building blocks
	var mainDiv = $("ol#test");


	for(var i = 1; i < arrData.length;  i ++){
		toPrint = arrData[i]; // the main data are stored in toPrint

		mainDiv.append(
			"<li>" 
			+ "<label class='deleteLabel'>"
			+ "<input type='checkbox'"
			+ "class='delete'"
			+ "onclick='deleteTask()'"
			+ "id ='" + i + "'"
			+ ">"		
			+ "</label>"
			+ toPrint.data 
			// + "<span id='del' onclick='deleteTask()'> Delete"
			// + "</span>"
			+ "<label>" 
			+ "<input type='checkbox'"
			+ "class='edit'"
			// + "onclick='editTask()'"
			+ "id ='" + i + "'"
			+ ">"	
			+ "</label>"
			+ "</li>"
		);

	}
}

// document.getElementById("del").addEventListener("click", deleteTask());

function deleteTask(){
	var id = document.querySelector('.delete:checked').id; // some get html element

	var array = unjsonify(localStorage.arrayDataSet);
	array.splice(id, 1);
	localStorage.setItem("arrayDataSet", jsonify(array));

	display();
}

function editTask(){
	var id = document.querySelector('.edit:checked').id; // some get html element
	var editValue = document.getElementById("editField").value;

	var array = unjsonify(localStorage.arrayDataSet);
	array.splice(id, 1, {
		data: editValue
	});
	localStorage.setItem("arrayDataSet", jsonify(array));

	display();
}

</script>