<!DOCTYPE html>
<html>
<head>
	<title>JSON Test</title>
</head>
<body>

	<input type="text" name="input" id="input"><button id="add" onClick="addTaskSimple()">Simplified Add task</button>
	<!-- <input type="text" name="input" id="input"><button id="add" onClick="addTaskSimple('testKey', 'test data user input 2')">Add task</button> -->

</body>
</html>


<script type="text/javascript">
// console.log("Hello World!");
if (!localStorage.array){
	var array = [{
		data: "initialize"
	}];	
	localStorage.setItem("array", jsonify(array));
	localStorage.dataId = 0;
}


function addTaskSimple(){
	var data = document.getElementById("input").value;
	var array = unjsonify(localStorage.array);
	array.push({
		data: data // treat the data structure as a table, fieldName: dataToBeInserted
	});
	localStorage.setItem("array", jsonify(array));
	localStorage.dataId = array.length;
}

// initialize storage and array
var dataArr = []; // should check if there's any data first, else we would overwrite it everything we start a new session

// need to init localstorage for first input
function init(storageKey){
	if(localStorage.storageKey){ // if there's something, do nothing
		localStorage.setItem(storageKey, "not suppose");
	} else {
		var arr = [];
		arr.push({
			id: 0,
			data: "first data"
		});
		localStorage.lastIndex = 0;
		// console.log(arr);
		// console.log(arr[0].id); completely forgot about array index -.- 
		localStorage.setItem(storageKey, JSON.stringify(arr));
	}
}

// init(userInput, storageKey);

function addTask(storageKey, userInput){ // append user input into array and JSON.stringify it

	if(!localStorage.storageKey){
		init(storageKey);
	}
	// 1. Retrieve existing data [in string format] and convert back to array
	var existingData = localStorage.getItem(storageKey);
	var inputArray = [];

	console.log(inputArray);

	inputArray = unjsonify(existingData);

	console.log(inputArray);
	// 2. add new data
	var dataId = Number(localStorage.lastIndex);
	dataId ++;

	inputArray.push({
		id: dataId,
		data: userInput
	});

	console.log(inputArray);
	// 3. convert array back to string for storage
	var updatedDataString = jsonify(inputArray);
	localStorage.setItem(storageKey, updatedDataString);

	localStorage.lastIndex = dataId;
}

// convert JSON into array
function unjsonify(jsonData){
	return JSON.parse(jsonData);
}

// convert user input into JSON string
function jsonify(userInput){
	return JSON.stringify(userInput);
}

// // first get an array
// var arr = [];
// for(var i=0; i<10;i++)
// arr.push({
// 	id: i,
// 	name: "test" + i
// });

// console.log(arr);
// // next JSON.stringify it

// var string = JSON.stringify(arr); // the string will be stored in local storage and retrieved
// console.log(string);

// // then parse it
// var arr2 =[];
// var unstring = JSON.parse(string); // after retrieval, store it back into an array 
// arr2 = unstring;

// console.log(arr2);

// // then push a new item into the array
// arr2.push({
// 	id: 1,
// 	name: "test"
// });
// console.log(arr2);

// arr2.pop();
// console.log(arr2);

// // now try to remove an item by id 
// // http://blog.teamtreehouse.com/how-to-use-the-javascript-splice-method, splice can also be used for edits
// // splice(position, number of elements, new insert if any)
// // splice(id, 1, new)
// arr2.splice(5, 1, {
// 		id: 55,
// 		name: "kajs"
// 	}
// 	);


// console.log(arr2);




</script>