<!DOCTYPE html>
<html>
<head>
	<title>My CRUD</title>
</head>
<body>
	<input type="text" name="input" id="input">
	<button onclick="action()">Submit</button>
</body>
</html>

<script>

var arr = ["name"];

arr.push({id:1, name: "Kas"});
console.log(arr);
arr.push({id:2, name: "Kesz"});

console.log(arr.length);
console.log(arr[1]);

var stringified = JSON.stringify(arr);
console.log("Stringied: " + stringified);

var arr2 = [];
console.log("Parsed: " + JSON.parse(stringified));
arr2.push(JSON.parse(stringified));
arr2.push({id:3, name: "New life"})
// console.log("Parsed: " + arr2);

console.log(arr2);

for(var i = 0; i < arr2.length; i ++) {
	console.log(arr2[i]);
}

	
var lastId = 0;

function getInput(elementId){
	var input = document.getElementById(elementId).value;
	console.log("User input: " + input);
	return input;
}

function jsonify(input){
	return JSON.stringify(input);
}

function unjsonify(json){
	return JSON.parse(json);
}

function action(){
	var str = jsonify(getInput("input"));
	console.log("JSON Format: " + str);
	var unjson = unjsonify(str);
	console.log("Un-JSONify: " + unjson);

}

</script>