<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JSON Test</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="todo.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
	<!-- libraries/reference should be on the top -->
</head>
<body onload="display()">

	<div class="container-menu">
		<div class="flex-item">
			<input type="text" name="addField" id="addField"><button id="add" onClick="addItem()">Add task</button>
		</div>
<!-- 		<div class="flex-item">
			<input type="text" name="editField" id="editField"><button id="edit" onClick="editItem()">Edit task</button>
		</div>	 -->	
		
	</div>

	<!-- <input type="text" name="input" id="input"><button id="add" onClick="addItem('testKey', 'test data user input 2')">Add task</button> -->
	<div id="display" class="container-list">
		<ol id="test">		
		</ol>
	</div>

<!-- 	<div class="container-list">
		<span onclick="modalClick()" class="spanButton">Click me</span>
	</div> -->


	<div class="modal">
		<div class="flex-modal">
			<div class="modal-flex-item">
				<h1>Edit Item</h1>
				
				<div id="originalItem"> 
				</div>
				
				<div class="flex-item">
					<form><input type="text" name="editField" id="editField" value=""><button id="edit" onClick="editItem()">Edit task</button></form>
				</div>
				<span onclick="modalClose()" class="spanButton modal-close">close</span>
			</div>
		</div>
	</div>


</body>

<script type="text/javascript">



</script>

</html>


