<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JSON Test</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="todo.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
	<!-- libraries/reference should be on the top -->
</head>
<body onload="display()">

	<div class="container-menu">
		<div class="flex-item">
			<input type="text" name="input" id="input"><button id="add" onClick="addItem()">Add task</button>
		</div>
<!-- 		<div class="flex-item">
			<input type="text" name="editField" id="editField"><button id="edit" onClick="editItem()">Edit task</button>
		</div>	 -->	
		
	</div>

	<!-- <input type="text" name="input" id="input"><button id="add" onClick="addItem('testKey', 'test data user input 2')">Add task</button> -->
	<div id="display" class="container-list">
		<ol id="test">		
		</ol>
	</div>

<!-- <div id="modal">
	<h1>Edit Item</h1>
	<input type="text" name="editField" id="editField"><button id="edit" onClick="editItem()">Edit task</button>
</div>
 -->

<h2>Modal Example</h2>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>


</body>
</html>


