<!DOCTYPE html>
<html>
<head>
	<title>JSON Test</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

	<input type="text" name="input" id="input"><button id="add" onClick="addTaskSimple()">Simplified Add task</button>
	<!-- <input type="text" name="input" id="input"><button id="add" onClick="addTaskSimple('testKey', 'test data user input 2')">Add task</button> -->
	<div id="display">
		<ol id="test">
			
		</ol>
	</div>
</body>
</html>


<script type="text/javascript">
// console.log("Hello World!");

if (!localStorage.arrayDataSet){
	var array = [{
		data: "initialize"
	}];	
	localStorage.setItem("arrayDataSet", jsonify(array));
}

display();

function addTaskSimple(){

	var insertData = document.getElementById("input").value;
	var array = unjsonify(localStorage.arrayDataSet);

	array.push({
		data: insertData // treat the data structure as a table, fieldName: dataToBeInserted
	});

	localStorage.setItem("arrayDataSet", jsonify(array));
	localStorage.dataId = array.length;

	display();
}
// convert JSON into array
function unjsonify(jsonData){
	return JSON.parse(jsonData);
}

// convert user input into JSON string
function jsonify(userInput){
	return JSON.stringify(userInput);
}

function display(){
	var arrData = unjsonify(localStorage.arrayDataSet);
	var toPrint;

	// right now it doesn't consider the fact that there's already existing data in the HTML element
	// the easiest way is to just wipe everything before appending
	if(document.getElementById("test")) {
		document.getElementById("test").innerHTML = "";
	}

	for(var i = 1; i < arrData.length;  i ++){
		toPrint = arrData[i];
		
		var mainDiv = "ol#test";
		var mainList = mainDiv + ".lv";

		$(mainDiv).append("<li>" + toPrint.data + "</li>");
		$(mainList).append("<li>" + toPrint.data + "</li>");

		
		// console.log(toPrint.data); // .data needs to be a variable
	}

	// var test = "test 2";

	// $("ol.test").append("<li>" + test + "</li>");
}

</script>