body {
	background: #252525;
	color: #FAFAFA;
}

.container-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #464646;
	margin: 0 10% 10px 10%;
	/*text-align: center;*/
}

.container-list {
	display: flex;
	justify-content: center;
	background: #464646;
	margin: 0 20% 10px 20%;
	font-size: 20px;
	/*max-width: 300px;*/
	/*text-align: center;*/
}

.flex-item {
	margin: 5px;
}

.delTask {
	color: red;
	cursor: pointer;
	font-size: 14px;
}

.delTask:hover {
	/*cursor: pointer;*/
}

.cross {
	max-width: 20px;
}

.edTask {
	display: none;
}

.edit {
	color: #EBEBEB;
	font-size: 10px;
	cursor: pointer;
	vertical-align: top;
}

.spanButton{
	cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    text-align: center;
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 30%; /* Full width */
    height: 30%; /* Full height */
    margin: 5%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

